<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Droid Sans' rel='stylesheet'>
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" href="../imagens figma/loqui icon.png">

    <title>Criação de sala privada!</title>
</head>

<body style="background-color: #9D9DB7;">
    <div class="block-1">
        <form action="/confirmacaoContato" method="post">
            <label>Digite o nome do outro envolvido na sala privada</label>
            <input type="text" name="username2">
            
            
            
            
            <br>
            <button type="submit"> OK </button>
        </form>
        <a href="/room"><button class="btn-back">Voltar</button></a>
    </div>
</body>

</html>